<!DOCTYPE html>
<html lang="en">
<head>

     <title>Local Solutions</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <!-- <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content=""> -->
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
     <link rel="stylesheet" href="../static/css/font-awesome.min.css">
     <link rel="stylesheet" href="../static/css/aos.css">
     <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
     <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
     <link rel="stylesheet" href="../static/style.css">
     <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
     <!-- MENU BAR -->
     <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="/">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            Logo
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a href="/" class="nav-link">Home</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a href="#project" class="nav-link">Local Solutions</a>
                  </li> -->
                  {% if session.admin %}
                  <li class="nav-item">
                    <a href="/dashboard" class="nav-link smoothScroll">Dashboard</a>
                  {% endif %}

                  <li class="nav-item">
                    <a data-toggle="dropdown" id="navbarDropdownMenuLink" href="solutions.html" class="nav-link">Local Solutions
                      <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/covidprojects">Solutions on Covid-19</a></li>
                          <li><a href="/climateprojects">Solutions on Climate</a></li>
                          <li><a href="/solutionsprojects">Solutions on Youth</a></li>
                          <li><a href="/miscprojects">Miscellaneous</a></li>
                        </ul>
                  </li>
                  
                    {% if session.email %}
                  <li class="nav-item">
                    <a href="/logout" class="nav-link contact">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a href="/login" class="nav-link contact">Login</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>


     <!-- BODY -->
      <div class="wrapper">
       <div class="search-header">

          <div class="background-bar">
           <!-- <img
          class="lazyload search-landing-image"
          src="Team-cuate.svg"
          data-sizes="(max-width: 860px) 345px, 620px"
          width="50%"
            margin-left: auto;
            margin-right: auto;
            display: block;
            align: center;
            max-height: 100%;
            object-fit: contain;
            position: absolute;
            inset: 0px;> 
          </div>
          <div class="search-landing-image-text">
           <h1 class="search-landing-heading"data-aos="fade-up" data-aos-delay="100">Search Solutions</h1> 
             <p class="search-landing-heading-text">
            
            </p> 
          </div> -->
         <p class="search-landing-image-attribution">
           <a href="/SAMji_illustrator"></a>
        </p> 
        </div>
  
          <div class="search-results-details">
          </div>
       <div class="filter-subnav">
       </div>
     </div>
      
     

     <section class="blog section-padding">
      <div class="container">
           <div class="row">
  
                <div class="col-lg-12 col-12 py-0 mt-0 mb-1 text-center">
  
                  <h1 class="mb-4 mt-0" data-aos="fade-up">Iraqi Solutions Safari </h1>
                
                  {% if session.admin %}
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                          <input type="text" class="form-control search-slt" id="exampleFormControlSelect1" placeholder="Type A Solution's Name">
                      </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="exampleFormControlSelect2">
                          <option placeholder="">Stage</option>
                          <option>Sensing and Exploring</option>
                          <option>Experimenting</option>
                          <option>Scaling Up</option>
                          <option>Done</option>
                        </select>
                      </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                      <select class="form-control search-slt" id="exampleFormControlSelect3">
                        <option placeholder="">Province</option>
                        <option value="Province">Baghdad</option> 
                        <option value="Province">Anbar</option> 
                        <option value="Province">Babil</option> 
                        <option value="Province">Basrah</option> 
                        <option value="Province">Dahuk</option> 
                        <option value="Province">Dhi Qar</option> 
                        <option value="Province">Diyala</option> 
                        <option value="Province">Erbil</option> 
                        <option value="Province">Halabja</option> 
                        <option value="Province">Karbala'</option>
                        <option value="province">Kirkuk</option>
                        <option value="province">Maysan</option>
                        <option value="province">Muthanna</option>
                        <option value="province">Najaf</option>
                        <option value="province">Ninawa</option>
                        <option value="province">Qadisiyah</option>
                        <option value="province">Salah ad-Din	</option>
                        <option value="province">Wasit</option>
                      </select>
                    </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <select class="form-control search-slt" id="exampleFormControlSelect4">
                            <option placeholder="">SDGs</option>
                            <option>1: No poverty</option>
                            <option>2: Zero hunger</option>
                            <option>3: Good health and well-being</option>
                            <option>4: Quality education</option>
                            <option>5: Gender equality</option>
                            <option>6: Clean water and sanitation</option>
                            <option>7: Affordable and clean energy</option>
                            <option>8: Decent work and economic growth</option>
                            <option>9: Industry, Innovation, and Infrastructure</option>
                            <option>10: Reducing inequalities</option>
                            <option>11: Sustainable cities and communities</option>
                            <option>12: Responsible consumption and production</option>
                            <option>13: Climate action</option>
                            <option>14: Life below water</option>
                            <option>15: Life on land</option>
                            <option>16: Peace, justice and strong institutions</option>
                            <option>17: Partnership for the goals</option>
                          </select>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <button type="button" class="wrn-btn" >Search</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
                  {% else %}
                <form action="/solutionsprojects" data-aos="fade-up" data-aos-delay="100" method="POST">
                <div class="input-group" id="search-solutions"data-aos="fade-up" data-aos-delay="50">
                <input name="search" type="text" class="form-control" placeholder="Search Local Solutions">
                <div class="input-group-append">
                 <button type="submit" class="input-group-text btn" style="font-weight: bold; ">Search</button>
                </div>
                </div>
              </form>
              {% endif %}
                </div>
                {% for post in roster %}
                <div class="col-lg-4 col-md-4 col-12 mb-4 mt-0">
                  <div class="blog-header" data-aos="fade-up" data-aos-delay="100">
                    <div class="feature-box">
                      <!-- <div class="type">implementation</div> -->
                      <div class="feature-img">
                          <img src={{post["image_of_local_solution"]}} object-fit:cover>
                          <div class="category">
                              <div class="b"><p><img src="../static/images/health.png"></p></div>
                          </div> 
                          <div class="details">
                              <h4 class="name" style="font-size: 22px;">{{ post["local_solution_name"] }}</h4>
                              <p>{{ post["local_solution_description"] }}</p>
                                  <div>
                                      <!-- <span><i class="fa fa-medkit" aria-hidden="true"></i>Health </span>
                                      <span><i class="fa fa-heartbeat" aria-hidden="true"></i>Covid-19</span> -->
                                      <span style="font-weight: 500; margin-right: 8px;" ><i class="fa fa-envelope" aria-hidden="true"></i>Contact Us  </span>
                                      <span style="font-weight: 500;" ><i class="fa fa-share" aria-hidden="true"></i>Share </span>
                                  </div>
                       
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                             </div>
          </div>
        </div>
  </section>
     <!-- footer  -->
     <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10 mt-3" >
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100" >Solutions Safari <strong>Endless</strong> Possibilities.</h1>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="100">
            <h4 class="my-4" >CONTACT INFO</h4>

            <p class="mb-1" >
               <i class="fa fa-phone mr-2 footer-icon"></i>  
              <a href="#">number</a>
            </p>

            <p><a href="">
                <i class="fa fa-envelope mr-2 footer-icon"></i> 
                Email
              </a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="300" >
            <h4><br>WHO ARE WE?</h4>
            <p><a href="#">
                An online platform where you Share the an innovative solution and we sense and explore, experiment, and scale it up.
           </a></p>
            <!-- <p><a href="https://www.iq.undp.org/content/iraq/en/home.html">UNDP-Iraq</a>
                      <br><a href="https://acceleratorlabs.undp.org/">Accelerator Lab</a> 
                     <br><a href="https://www.iq.undp.org/content/iraq/en/home/accelerator-labs.html">Accelerator Lab-Iraq</a>
                     <br><a href="https://acceleratorlabs.undp.org/content/acceleratorlabs/en/home/blogs.html?tagid=regions%20and%20countries:arab%20states/iraq,language:English">Our Blogs</a></p> -->
           </div>
 

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="" class="fa fa-twitter"></a></li>
              <li><a href="" class="fa fa-facebook"></i></a></li>
              <li><a href="" class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
          <!-- https://www.instagram.com/acceleratorlabs/?hl=en
          https://twitter.com/UNDPAccLabs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
          https://www.facebook.com/undpiniraq/
          https://www.youtube.com/watch?v=n_oZYg0eyOI&t=2s -->
        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="../static/js/bootstrap.min.js"></script>
     <script src="../static/js/aos.js"></script>
     <script src="../static/js/owl.carousel.min.js"></script>
     <script src="../static/js/custom.js"></script>

</body>
</html>